/* This stylesheet contains the styles for my resume */

:root {
	--black: #292A33;
	--white: #FCFCFA;
	--gray: #E6E3DA;
	--blue: #225560;
}

body {
	background-image: url("images/page_background.jpg");
}

header, header ul {
	margin-bottom: 0;
	padding-bottom: 0;
}

#wrapper {
	color: var(--black);
	background: var(--white);
	box-shadow: 0px 0px 10px  var(--black);
	font-family: 'Roboto', sans-serif;
}

h1.name  {
	color: var(--blue);
	font-size: 3rem;
	margin: 0px;
	padding: 0px;
}

.experience__description, .tag-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px;
}

.tag-list li {
	margin: 5px;
	padding: 5px;
	background-color: var(--gray);
	color: var(--black);
	font-weight: bold;
}

ul.experience__description {
	margin-top: 5px;
}
.experience__description li {
	border-left: 2px solid var(--black);
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

.experience__description li:first-child {
	border-left: none;
	padding-left: 0px;
}

.experience__header {
}

.experience__title {
	color: var(--blue);
	margin: 0px;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: var(--blue);
}

@media only screen and (max-width: 900px) {
	 header ul.experience__description {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	header ul.experience__description li {
		border-left:none;
	}
}
