/* This stylesheet contains the styles for my resume */

:root {
	--black: #0F1108;
	--white: #FFFCF2;
	--gold: #DDC992;
	--gray: #CCC5B9;
	--blue: #568EA3;
}

body {
	background: var(--blue);
}

#wrapper {
	color: var(--black);
	background: var(--white);
	border: 1px solid var(--black);
	box-shadow: 0px 0px 10px  var(--black);
}

.tag-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px;
}

.tag-list li {
	margin: 5px;
	padding: 5px;
	border: 1px solid var(--blue)
}

