/* This stylesheet contains the styles for my resume */

:root {
	--black: #0F1108;
	--white: #FFFCF2;
	--blue: #225560;
	--red: #882026;
}

body {
	background-image: url("images/page_background.jpg");
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 14px;
}

#wrapper {
	color: var(--black);
	background: var(--white);
	box-shadow: 0px 0px 10px  var(--black);
}

h1.name  {
	color: var(--red);
	font-size: 5rem;
	font-weight: 300;
	margin: 0px;
	padding: 0px;
}

.experience__description, .tag-list {
	list-style: none;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	padding: 0px;
}

.tag-list li {
	margin: 5px;
	padding: 5px;
	background-color: var(--blue);
	color: var(--white);
}

ul.experience__description {
	margin-top: 5px;
}
.experience__description li {
	border-left: 2px solid var(--black);
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
}

.experience__description li:first-child {
	border-left: none;
	padding-left: 0px;
}

.experience__header {
	font-weight: bold;
}

.experience__title {
	color: var(--red);
	font-weight: 200;
	margin: 0px;
}

a, a:hover, a:visited {
	text-decoration: none;
	color: var(--blue);
}
